<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwl.mapper.book.BookMapper">

    <!--表名 -->
    <sql id="tableName">
        t_book
    </sql>

    <sql id="Field">
        name,
        price,
        stock,
        id
    </sql>

    <resultMap id="BaseResultMap" type="Book">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
    </resultMap>


    <select id="getAll" resultMap="BaseResultMap">
        select * from <include refid="tableName"></include>
    </select>

    <update id="reduceBook">
        update
        <include refid="tableName"></include>
        set stock = stock - #{count}
        WHERE
        id=#{id} and stock - #{count} >= 0
    </update>

    <select id="getByPage" parameterType="Page" resultMap="BaseResultMap">
        select * from <include refid="tableName"></include>
        <where>
            <if test="pd.name != null">AND name=#{pd.name}</if>
            <if test="pd.price != null">AND price=#{pd.price}</if>
            <if test="pd.stock != null">AND stock</if>
            <if test="pd.id != null">AND tsu.id=#{pd.id}</if>
        </where>
    </select>

</mapper>