<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwl.mapper.book.BookMapper">

    <!--表名 -->
    <sql id="tableName">
        t_book
    </sql>

    <sql id="Field">
        name,
        price,
        stock,
        id
    </sql>

    <resultMap id="BaseResultMap" type="Book">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
    </resultMap>


    <select id="getAll" resultMap="BaseResultMap">
        select * from <include refid="tableName"></include>
    </select>

    <update id="reduceBook">
        update
        <include refid="tableName"></include>
        set stock = stock - #{count}
        WHERE
        id=#{id} and stock - #{count} >= 0
    </update>

</mapper>